# Before local testing setup used below but now not required REDIS_URL - Works with anything that speaks Redis protocol — local Docker, Upstash (rediss://), AWS ElastiCache, whatever. This is strictly better.
# PORT=5000
# DATABASE_URL=
# ACCESS_TOKEN_SECRET=
# REFRESH_TOKEN_SECRET=
# JWT_ACCESS_SECRET=
# JWT_REFRESH_SECRET=
# ACCESS_TOKEN_EXPIRES_IN=168h
# REFRESH_TOKEN_EXPIRES_IN=168h
# UPSTASH_REDIS_REST_URL=
# UPSTASH_REDIS_REST_TOKEN=
# UPSTASH_REDIS_URL=

PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=changeme
JWT_REFRESH_SECRET=changeme
ACCESS_TOKEN_SECRET=changeme
REFRESH_TOKEN_SECRET=changeme
ACCESS_TOKEN_EXPIRES_IN=168h
REFRESH_TOKEN_EXPIRES_IN=168h